$dark-green: #1B301B;
$bright-green: #27AE60;
$accent-pink: #D81B60;
$bg-beige: #FDFBF0;
$white: #FFFFFF;
$pink: #fdeef4;

$breakpoint-576: 576px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1440: 1440px;